<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        h3 {
           text-align: center;
        }
        table {
            border-collapse:collapse;
        }
        table, tr, td {
            border: 1px solid;
        }
        .odd__row--color {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <!--    1. table 태그를 이용해 personList 표시하기   -->
    <!--    2. 순번을 표시하고 짝수행은 노란색으로 표시하기   -->
    <!--    3. 나이합 구하기   -->
    <h3>회원목록</h3>
    <hr>
    <table>
        <colgroup>
            <col class="c1">
            <col class="c2">
            <col class="c3">
        </colgroup>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>나이</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person, personStat:${personList}" class="odd__row--color" th:class="${personStat.even}?'odd__row--color':''">
                <td th:text="${personStat.count}">1</td>
                <td th:text="${person.name}">홍길동</td>
                <td> <span th:text="${person.age}"></span>살</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>합계</td>
                <td colspan="2" th:text="${#aggregates.sum(personList.![age])}"></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>