<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 수정</title>
    <style>
        .errmsg {
            fonst-size: 0.8em;
            font-weight: bold;
            color:red;
        }
        ul {
            margin:0; padding: 0;
        }
        ul, li {
            text-decoration: none;
        }
        .fieldError{
            border:1px solid red;
            color:red;
        }
        .fieldSucess{
            border:1px solid green;
            color:green;
        }
    </style>
</head>
<body>
<div class="member-wrap">
    <h3>회원 수정</h3>
    <hr>
    <form action="" method="post" th:object="${form}">
        <div>
            <div><label for="">회원번호</label><input type="text" th:field="*{memberId}" readonly>
            </div>
            <div><label for="">이메일</label><input type="email" th:field="*{email}" readonly></div>
            <div>
                <label for="">비밀번호</label>
                <input type="text" th:field="*{pw}">
                <ul th:if="${#fields.hasErrors('pw')}" th:class="errmsg">
                    <li th:each="err: ${#fields.errors('pw')}" th:text="${err}"></li>
                </ul>
            </div>
            <div>
                <label for="">닉네임</label>
                <input type="text"  th:field="*{nickname}">
                <ul th:if="${#fields.hasErrors('nickname')}" th:class="errmsg">
                    <li th:each="err: ${#fields.errors('nickname')}" th:text="${err}"></li>
                </ul>

            </div>

            <div>
                <button type="submit">수정</button>
                <button type="button" id="cancelBtn">취소</button>
            </div>
        </div>  
    </form>
</div>
<script th:inline="javascript">
    cancelBtn.addEventListener('click', e=>{
        console.log('취소');
        location.href=[[@{|/admin/members/${form.memberId}|}]];
        });
</script>
</body>
</html>