<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 상세 조회</title>
</head>
<body>
<div class="member-wrap">
    <h3>회원 상세 조회</h3>
    <hr>
    <form action="" method="post" th:object="${form}">
        <div>
            <div><label for="">회원번호</label><input type="text" th:field="*{memberId}"
                                                  readonly></div>
            <div><label for="">이메일</label><input type="email" th:field="*{email}" readonly>
            </div>
            <div><label for="">비밀번호</label><input type="text" th:field="*{pw}" readonly>
            </div>
            <div><label for="">닉네임</label><input type="text" th:field="*{nickname}"
                                                 readonly></div>
            <div><label for="">가입일</label><input type="text" th:field="*{cdate}" readonly>
            </div>
            <div><label for="">수정일</label><input type="text" th:field="*{udate}" readonly>
            </div>
            <div>
                <button type="button" id="listBtn">목록</button>
                <button type="button" id="editBtn">수정</button>
                <button type="button" id="delBtn">삭제</button>
            </div>
        </div>
    </form>
    <script th:inline="javascript">
            //<!-- 목록 -->
            listBtn.addEventListener('click', e=>{
                location.href = [[@{/admin/members}]];
            });

            //<!-- 수정 -->
            editBtn.addEventListener('click', e=>{
                console.log('수정');
                const url = [[@{|/admin/members/${form.memberId}/edit|}]];
                location.href = url;
            });

            //<!-- 삭제 -->
            delBtn.addEventListener('click', e=>{
            if(!confirm('삭제하시겟습니까?')) return;
                location.href = [[@{|/admin/members/${form.memberId}/del|}]];
            });
    </script>
</div>
</body>
</html>