<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/base::layout(
      ~{::title}, ~{::div#container}, ~{::link}, ~{}, ~{}, _ )}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 후</title>

  <!-- 해당 페이지 css  -->
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <!-- 해당 페이지 js  -->
  <scrip></scrip>
  <scrip></scrip>

  <style>
    table {
        border:1px solid;
        border-collapse: collapse;
    }
    td, th {
        border:1px solid;
        padding:5px;
    }
  </style>

</head>
<body>
  <div id="container">
  로그인 후 화면
    <ul>
      <li><a th:href="@{/admin/members}">회원목록(회원만 가능)</a></li>
      <li><a th:href="@{/products}">상품목록(비회원도 가능)</a></li>
      <li><a th:href="@{/logout}">로그아웃</a></li>
    </ul>

  </div>
</body>
</html>