<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
  <div class="container">
    <form action="" th:method="post" th:object="${form}">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
      </div>
      <div><label for="">이메일</label>  <input type="email" placeholder="이메일" th:field="*{email}"></div>
      <div><span th:errors="*{email}"></span></div>
      <div><label for="">비밀번호</label>  <input type="password" placeholder="비밀번호" th:field="*{pw}"></div>
      <div><span th:errors="*{pw}"></span></div>
      <div><button type="submit" id="loginBtn">로그인</button></div>
    </form>
  </div>
</body>
</html>