<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 전체 목록</title>
</head>
<body>
    <div class="product-wrap">
        <h3>상품목록</h3>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>아이디</th>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th><a href="/product/1">컴퓨터</a></th>
                    <th>10</th>
                    <th>1000000</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th><a href="/product/1">모니터</a></th>
                    <th>5</th>
                    <th>200000</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th><a href="/product/1">마우스</a></th>
                    <th>8</th>
                    <th>16000</th>
                </tr>
            </tbody>
        </table>
        <hr>
        <div><button id="addBtn">상품등록</button></div>
    </div>

    <script>
        addBtn.addEventListener('click', e=>{
            location.href = '/product';
        });
    </script>
</body>
</html>